//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

doctype html
<html class='no-js' lang='en'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Pracownia Drabina
  meta(name='description', content='Pracownia Rozwoju i Terapii')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  
  //- favicons
  link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='/images/favicons/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='/images/favicons/favicon-16x16.png')
  link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#FB5252')
  link(rel='manifest', href='/site.webmanifest')
  link(rel='shortcut icon', href='/favicon.ico')
  meta(name='msapplication-TileColor', content='#FB5252')
  meta(name='msapplication-config', content='/browserconfig.xml')
  meta(name='theme-color', content='#ffffff')

  //- Facebook Open Graph
  meta(property='og:image:height', content='520')
  meta(property='og:image:width', content='993')
  meta(property='og:title', content='Pracownia Drabina')
  meta(property='og:description', content='Pracownia Rozwoju i Terapii Drabina - Jestem psychologiem, terapeutką, specjalizującą się w pomocy dzieciom i młodzieży. Staram się zrozumieć, gdzie leży źródło występujących problemów i dostosować metody terapeutyczne do indywidualnych potrzeb. Moim głównym celem jest stworzenie takiej przestrzeni, w której, jak przy wspinaniu po szczeblach drabiny, możliwe będzie sięganie po coś, co jest wyżej, gdzie każdy kolejny szczebel to krok w górę, ponad siebie, ponad własne lęki, ograniczenia i trudności.')
  meta(property='og:url', content='https://www.pracowniadrabina.pl')
  meta(property='og:image', content='https://www.pracowniadrabina.pl/images/social/og-image.jpg')


  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css")

body
  <!--[if lt IE 11]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  header.header
    .base-width
      a.logo(href='/')
        img.logo-image(src="/images/logo.png", alt="Logo Drabina")
        span.logo-name Drabina
        span.logo-slogan Pracownia Rozwoju i Terapii
      .social
        a.facebook(href='#') Facebook
      input#menu-btn.menu-btn(type='checkbox')
      label.menu-icon(for='menu-btn')
        span.navicon
      ul.menu
        li
          a(href='/') Terapia
        li
          a(href='/o-mnie.html') O mnie
        li
          a(href='/oferta.html') Oferta
        li
          a(href='/w-gore-razem.html') W górę razem
        li
          a(href='/kontakt.html') Kontakt

  block content
  
  footer
    .base-width
      | Drabina | Copyright 2018

  block scripts
    script(src= baseUrl + 'scripts/main.js')

</html>
