extends _layouts/base

block page_title
  | Cennik - 

block metatags
  meta(name='description', content='Terapia dzieci i młodzieży. Zajęcia psychoedukacyjne i wsparcie psychologiczne w formie warsztatów rozwijających kreatywność, twórczość, umiejętności komunikacyjne oraz świadomość emocji. Spotkania psychoedukacyjne i wsparcie dla rodziców.')

block content
  .cover-art.short-cover

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green Cennik
        table.pure-table.pure-table-striped.card-table(style="margin-top: 40px;")
            thead
                tr
                    th(colspan="2") Psychoterapia dzieci i młodzieży
            tr
                td Terapia indywidualna (45min)
                td 120zł
            tr
                td Konsultacja psychologiczna (50min)
                td 140zł
            tr
                td Diagnoza psychologiczna
                td zależy od ilości spotkań konsultacyjnych
            tr
                td Opinia psychologiczna
                td 100zł
            tr
                td Zajecia grupowe (1 godz.)
                td 100zł/os
            tr
                td Warsztaty i szkolenia
                td Cena do uzgodnienia
        p
        table.pure-table.pure-table-striped.card-table(style="")
            thead
                tr
                    th(colspan="2") Psychoterapia dorosłych
            tr
                td Konsultacja psychoterapeutyczna (50min)
                td 120zł
            tr
                td Sesja psychoterapeutyczna (50min)
                td 120zł
