extends _layouts/base

block page_title
  | Cennik - 

block metatags
  meta(name='description', content='Terapia dzieci i młodzieży. Zajęcia psychoedukacyjne i wsparcie psychologiczne w formie warsztatów rozwijających kreatywność, twórczość, umiejętności komunikacyjne oraz świadomość emocji. Spotkania psychoedukacyjne i wsparcie dla rodziców.')

block content
  .cover-art.short-cover

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green Cennik

        each cennik in site.data.cennik.cenniki
            table.pure-table.pure-table-striped.card-table
                thead
                    tr
                        th(colspan="2")= cennik.nazwa
                each pozycja in cennik.pozycje
                    tr
                        td= pozycja.nazwa
                        td= pozycja.cena
            p
