extends _layouts/base

block content
  .cover-art

  section.card.splash.splash-red.splash-right#terapia
    .base-width.pure-g
      .card-text.pure-u-1.pure-u-md-1-2
        h2.circle-red Terapia
        p Psycholog, terapeutka. Z zamiłowania muzyk i aktorka.  Fascynuję się człowiekiem w każdym wieku – w szczególności dziećmi i młodzieżą. Interesuje mnie to, co mają do powiedzenia, ale jeszcze bardziej to, co kryje się za ich słowami i czynami. 
        p Dzięki połączeniu pasji do muzyki  i teatru oraz moich kompetencji psychologicznych stworzyłam nowatorską metodę terapii poprzez sztukę. Wykorzystuję w niej techniki poznawczo-behawioralne zestawione z psychodramą, muzykoterapią oraz czerpię z podejścia psychodynamicznego i systemowego. 
        p U podłoża mojego rozumienia człowieka znajduje się psychologia pozytywna, która zamiast skupiać się na zaburzeniach, stawia na rozwój potencjału – talentów, uzdolnień, predyspozycji.
      .card-photo.pure-u-1.pure-u-md-1-2
        .polaroid-stack
          .polaroid(style="background-image: url('/images/drabina.jpg'); transform: rotate(-10deg);")
          .polaroid(style="background-image: url('/images/drabina.jpg'); transform: rotate(10deg);")

  .divider
    .pure-g
        img.pure-u-1-3(src="/images/karo_28.jpg", alt="")
        img.pure-u-1-3(src="/images/karo_27.jpg", alt="")
        img.pure-u-1-3(src="/images/karo_33_yellow.jpg", alt="")

  section.card.splash.splash-yellow.splash-left
    .base-width.pure-g
      .card-photo.pure-u-1.pure-u-md-1-2
        .polaroid-stack
          .polaroid(style="background-image: url('/images/kid_paint.jpg'); transform: rotate(10deg);")
          .polaroid(style="background-image: url('/images/kid_paint.jpg'); transform: rotate(-10deg);")
      .card-text.pure-u-1.pure-u-md-1-2
        h2.circle-yellow Sztuka
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam aperiam optio animi dignissimos necessitatibus, expedita consectetur veritatis quibusdam laboriosam debitis explicabo laborum nihil suscipit, blanditiis non dolorum labore sunt!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam aperiam optio animi dignissimos necessitatibus, expedita consectetur veritatis quibusdam laboriosam debitis explicabo laborum nihil suscipit, blanditiis non dolorum labore sunt!
