extends _layouts/base

block tags
  script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
  script.
    if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
    if (!user) {
    window.netlifyIdentity.on("login", () => {
    document.location.href = "/admin/";
    });
    }
    });
    }


block content
  .cover-art

  section.card.splash.splash-red.splash-right#terapia
    .base-width.pure-g
      .card-text.pure-u-1.pure-u-md-1-2
        h2.circle-red Terapia
        p Jestem psychologiem, terapeutką specjalizującą się w pomocy dzieciom i młodzieży. Staram się zrozumieć, gdzie leży źródło występujących problemów i dostosować metody terapeutyczne do indywidualnych potrzeb. Moim głównym celem jest stworzenie takiej przestrzeni, w której, jak przy wspinaniu po szczeblach drabiny, możliwe będzie sięganie po coś, co jest wyżej, gdzie każdy kolejny szczebel to krok w górę, ponad siebie, ponad własne lęki, ograniczenia i trudności.
        p To, co wyróżnia moją usługę spośród usług terapeutycznych proponowanych  zarówno w placówkach publicznych, jak i prywatnych, to nacisk, który kładę na współpracę z rodzicami i wykonywanie razem z nimi pracy terapeutycznej oraz nowatorskie metody pracy z dziećmi i młodzieżą. Metody z których korzystam mają za zadanie wyciszać i niwelować objawy zaburzeń poprzez sztukę, skutkując rozwojem potencjału, kreatywności oraz talentów.
      .card-photo.pure-u-1.pure-u-md-1-2
        .polaroid-stack
          .polaroid(style="background-image: url('/images/drabina.jpg'); transform: rotate(-10deg);")
          .polaroid(style="background-image: url('/images/drabina.jpg'); transform: rotate(10deg);")
      .card-text.pure-u-1  
        h3 W ramach moich usług oferuję:
        ul
          li Terapia  indywidualna oraz grupowa dla dzieci i młodzieży z trudnościami emocjonalnymi, zachowaniami trudnymi oraz z objawami ze spektrum autyzmu
          li Trening umiejętności społecznych w ramach programu 
            a(href="/w-gore-razem.html") "W górę razem!"
          li Zajęcia psychoedukacyjne oraz warsztaty rozwijające kreatywność, umiejętności komunikacyjne i świadomość emocji
          li Zajęcia artystyczne (muzyczne, teatralne)
          li Wsparcie psychologiczne dla rodzin w kryzysach
          li Konsultacje i diagnoza psychologiczna
          li Opiniowanie

  .divider
    .pure-g
        img.pure-u-1-3(src="/images/karo_28.jpg", alt="")
        img.pure-u-1-3(src="/images/karo_27.jpg", alt="")
        img.pure-u-1-3(src="/images/karo_33_yellow.jpg", alt="")

  section.card.splash.splash-yellow.splash-left
    .base-width.pure-g
      .card-photo.pure-u-1.pure-u-md-1-2
        .polaroid-stack
          .polaroid(style="background-image: url('/images/dance.jpg'); transform: rotate(10deg);")
          .polaroid(style="background-image: url('/images/dance.jpg'); transform: rotate(-10deg);")
      .card-text.pure-u-1.pure-u-md-1-2
        h2.circle-yellow Sztuka
        p Działalność twórcza ma ogromny wpływ na rozwój młodego człowieka. Kształtuje zdolność syntezy i analizy, doskonali pamięć (motoryczną, wzrokową, słuchową), ułatwia komunikację, wzbogaca zasób słownictwa, sprzyja budowaniu silnych więzi. Jej wpływ na osobowość dziecka wyraża się m.in. w stwarzaniu sytuacji, dzięki którym młody człowiek zdobywa nowe doświadczenia i przeżycia, odblokowuje zahamowania i niweluje napięcia emocjonalne.
        p Skutkiem tych działań jest wyższa samoocena, pewność siebie w kontaktach z rówieśnikami i osobami dorosłymi, przełamywanie barier komunikacyjnych, nauka nowych umiejętności społecznych. W  swojej pracy wielokrotnie przekonałam się, że sztuka ma duży potencjał terapeutyczny, a odpowiednio stosowana i dopasowana do indywidualnych potrzeb, stanowi potężne narzędzie lecznicze.