extends _layouts/base

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-right(style="min-height: 350px;")
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-yellow Kontakt
        p Zadzwoń i umów się na spotkanie
        ul
          li Kom. 506 963 634
          li 
            | Email: 
            a(href="mailto:kontakt@pracowniadrabina.pl") kontakt@pracowniadrabina.pl