extends _layouts/base

block page_title
  | Kontakt - 

block metatags
  meta(name='description', content='Zadzwoń i umów się na spotkanie. Terapia i sztuka. erapia  indywidualna oraz grupowa dla dzieci i młodzieży z trudnościami emocjonalnymi, zachowaniami trudnymi oraz z objawami ze spektrum autyzmu.')

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-right(style="min-height: 350px;")
    .base-width.pure-g
      .card-text.pure-u-1.pure-u-md-1-2
        h2.circle-yellow Kontakt
        p Zadzwoń i umów się na spotkanie
        ul
          li Psychoterapia dzieci i młodzieży – 506 963 634
          li Psychoterapia dorosłych – 500 504 855
          li 
            | Email: 
            a(href="mailto:pracownia.drabina@gmail.com") pracownia.drabina@gmail.com
          li
            | Adres:
            br
            br
            em Osiedle Centrum C 1/116
            br
            em 31-929 Kraków
      .card-text.pure-u-1.pure-u-md-1-2
        a#zl-url.zl-url(href='https://www.znanylekarz.pl/karolina-ligeza/psycholog-dzieciecy/krakow' rel='nofollow' data-zlw-doctor='karolina-ligeza' data-zlw-type='big_with_calendar' data-zlw-opinion='false' data-zlw-hide-branding='true') Karolina Lig&eogon;za - ZnanyLekarz.pl
        script.
          !function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");
