extends _layouts/base

block page_title
  | Kontakt - 

block metatags
  meta(name='description', content='Zadzwoń i umów się na spotkanie. Terapia i sztuka. erapia  indywidualna oraz grupowa dla dzieci i młodzieży z trudnościami emocjonalnymi, zachowaniami trudnymi oraz z objawami ze spektrum autyzmu.')

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-right
    .base-width.pure-g
      .card-text.pure-u-1.pure-u-md-1-2
        h2.circle-yellow Kontakt
        != marked(site.data.kontakt.body)
        .widget
          a.zl-facility-url(href='https://www.znanylekarz.pl/placowki/osrodek-terapii-i-rozwoju-drabina' rel='nofollow' data-zlw-facility='osrodek-terapii-i-rozwoju-drabina' data-zlw-type='facility-big' data-zlw-saas-only='false') Ośrodek terapii i rozwoju DRABINA
      .card-text.pure-u-1.pure-u-md-1-2
        #bookero

  script(type='text/javascript').
    !function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");

  script(type='text/javascript').
    var bookero_config = {
    id: 'Nn7503wWT1G0',
    container: 'bookero',
    type: 'calendar',
    position: '',
    plugin_css: true,
    lang: 'pl'
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://cdn.bookero.pl/plugin/v2/js/bookero-compiled.js';
    d.body.appendChild(s);
    })();
