extends _layouts/base

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-yellow Kontakt
        p Zadzwoń i umów się na spotkanie
        ul
          li Tel. 512 345 789
          li 
            | Email: 
            a(href="mailto:karolina.dziabkowska@gmail.com") karolina.dziabkowska@gmail.com
          li Tel. 512 345 789