extends _layouts/base

block page_title
  | O mnie - 

block metatags
  meta(name='description', content='Karolina Dziąbkowska. Psycholog, terapeutka. Z zamiłowania muzyk i aktorka. Fascynuję się człowiekiem w każdym wieku – w szczególności dziećmi i młodzieżą. Interesuje mnie to, co mają do powiedzenia, ale jeszcze bardziej to, co kryje się za ich słowami i czynami.')

block content
  .cover-art.short-cover

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      .card-text.pure-u-1.pure-u-md-1-2
        h2.circle-green Karolina Dziąbkowska
        p Psycholog, terapeutka. Z zamiłowania muzyk i aktorka. Fascynuję się człowiekiem w każdym wieku – w szczególności dziećmi i młodzieżą. Interesuje mnie to, co mają do powiedzenia, ale jeszcze bardziej to, co kryje się za ich słowami i czynami. 
        p Dzięki połączeniu pasji do muzyki  i teatru oraz moich kompetencji psychologicznych stworzyłam nowatorską metodę terapii poprzez sztukę. Wykorzystuję w niej techniki poznawczo-behawioralne zestawione z psychodramą, muzykoterapią oraz czerpię z podejścia psychodynamicznego i systemowego. 
        p U podłoża mojego rozumienia człowieka znajduje się psychologia pozytywna, która nie skupia się wyłącznie na zaburzeniach, ale kładzie duży nacisk na rozwój potencjału – talentów, uzdolnień, predyspozycji.
      .card-photo.pure-u-1.pure-u-md-1-2
        .polaroid-stack.vertical-stack
          .polaroid(style="background-image: url('/images/karo_18.jpg'); transform: rotate(5deg);")
