extends _layouts/base

block page_title
  | Oferta - 

block metatags
  meta(name='description', content='Terapia dzieci i młodzieży. Zajęcia psychoedukacyjne i wsparcie psychologiczne w formie warsztatów rozwijających kreatywność, twórczość, umiejętności komunikacyjne oraz świadomość emocji. Spotkania psychoedukacyjne i wsparcie dla rodziców.')

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-super-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-yellow Oferta
      .card-text.pure-u-md-1-2(style="text-align: center")
        a.big-link(href='/psychoterapia-dzieci-mlodziezy.html') PSYCHOTERAPIA DZIECI I MŁODZIEŻY
      .card-text.pure-u-md-1-2(style="text-align: center")
        a.big-link(href='/psychoterapia-dorosli.html') PSYCHOTERAPIA DOROSŁYCH
