extends _layouts/base

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-yellow Oferta
        p Terapia  indywidualna oraz grupowa dla dzieci i młodzieży z trudnościami emocjonalnymi, zachowaniami trudnymi oraz z objawami ze spektrum autyzmu
        p Trening umiejętności społecznych w ramach programu "W górę razem"
        p Zajęcia psychoedukacyjne oraz warsztaty rozwijające kreatywność, umiejętności komunikacyjne i świadomość emocji
        p Zajęcia artystyczne (muzyczne, teatralne)
        p Wsparcie psychologiczne dla rodzin w kryzysach
        p Konsultacje i diagnoza psychologiczna
        p Opiniowanie

  .divider
    .pure-g
        img.pure-u-1-4(src="/images/karo_28.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_32.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_29.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_33.jpg", alt="")

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green Cennik
        p Podstawowy cennik oferowanych przeze mnie usług:
        table.pure-table.pure-table-striped.card-table
            thead
                tr
                    th(colspan="2") Klienci indywidualni
            tr
                td Konsultacja psyhologiczna (1 godz.)
                td X zł
            tr
                td Sesja terapeutyczna (45min)
                td X zł
            tr
                td Spotkanie w ramach "W górę razem" (60min)
                td X zł
