extends _layouts/base

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-yellow Oferta
        p Terapia  indywidualna oraz grupowa dla dzieci i młodzieży z trudnościami emocjonalnymi, zachowaniami trudnymi oraz z objawami ze spektrum autyzmu
        p Trening umiejętności społecznych w ramach programu "W górę razem"
        p Zajęcia psychoedukacyjne oraz warsztaty rozwijające kreatywność, umiejętności komunikacyjne i świadomość emocji
        p Zajęcia artystyczne (muzyczne, teatralne)
        p Wsparcie psychologiczne dla rodzin w kryzysach
        p Konsultacje i diagnoza psychologiczna
        p Opiniowanie

  .divider
    .pure-g
        img.pure-u-1-4(src="/images/karo_28.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_32.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_29.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_33.jpg", alt="")

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green Cennik
        p Podstawowy cennik oferowanych przeze mnie usług:
        table.pure-table.pure-table-striped.card-table
            thead
                tr
                    th(colspan="2") Klienci indywidualni
            tr
                td Terapia indywidualna (50min)
                td 90zł
            tr
                td Konsultacja psychologiczna (50min)
                td 90zł
            tr
                td Sporządzenie diagnozy psychologicznej (2 godz.)
                td 200zł
            tr
                td Zajecia grupowe (1 godz.)
                td 75zł/os
            
            thead
                tr
                    th(colspan="2") Instytucje i placówki
            tr
                td Terapia indywidualna (50min)
                td 80zł
            tr
                td Konsultacja psychologiczna (50min)
                td 80zł
            tr
                td Sporządzenie diagnozy psychologicznej (2 godz.)
                td 150zł
            tr
                td Zajecia grupowe (1 godz.)
                td 35zł/os
            tr
                td Warsztaty
                   br
                   Zajęcia psychoedukacyjne
                   br
                   Zajecia artystyczne (1 godz.)
                td 60zł
