extends _layouts/base

block page_title
  | Oferta - 

block metatags
  meta(name='description', content='Terapia dzieci i młodzieży. Zajęcia psychoedukacyjne i wsparcie psychologiczne w formie warsztatów rozwijających kreatywność, twórczość, umiejętności komunikacyjne oraz świadomość emocji. Spotkania psychoedukacyjne i wsparcie dla rodziców.')

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-super-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-yellow Oferta
        
        h4 Terapia dzieci i młodzieży (od 4 r.ż) w zakresie: 
        ul
            li zachowań impulsywnych, agresywnych, autoagresywnych 
            li wycofania, izolacji, fobii szkolnej  
            li natręctw, tików. 
            li zaburzeń emocjonalnych 
            li zaburzeń zachowania 
        p
            | W zależności od poziomu funkcjonowania terapia prowadzona jest indywidualnie, bądź grupowo.
            | W ramach grupowej terapii zachowań trudnych, zwłaszcza dzieci z objawami ze spektrum autyzmu, prowadzę program 
            em "W Górę Razem"
            | , którego opis znajduje się w osobnej 
            a(href='#') zakładce.


        h4 Zajęcia psychoedukacyjne i wsparcie psychologiczne dla dzieci i młodzieży 
        ul
            li w formie warsztatów rozwijających kreatywność, twórczość, umiejętności komunikacyjne oraz świadomość emocji. 
            li w formie kontaktu indywidualnego

        h4 Spotkania psychoedukacyjne i wsparcie dla rodziców
        ul
            li w formie warsztatu - dotyczą rozwoju kompetencji rodzicielskich, tj. konsekwencja, słuchanie, wzmacnianie, towarzyszenie, ale  także wymianie doświadczeń i wsparciu w różnego rodzaju kryzysach rodzinnych.
            li w formie spotkań indywidualnych bądź dla par

        h4 Konsultacje i diagnoza psychologiczna. 
        ul
            li Proces diagnozowania trwa ok. 3 konsultacji, ale ze względu na różnorodność trudności i zaburzeń, może się wydłużyć. 

        h4 Opiniowanie
        ul
            li opinie o ogólnym funkcjonowaniu emocjonalnym i społecznym
            li opinie o diagnozie konkretnych zaburzeń i wskazań do dalszej pracy

  .divider
    .pure-g
        img.pure-u-1-4(src="/images/karo_28.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_32.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_29.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_33.jpg", alt="")

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green Cennik
        p Podstawowy cennik oferowanych przeze mnie usług:
        table.pure-table.pure-table-striped.card-table
            thead
                tr
                    th(colspan="2") Klienci indywidualni
            tr
                td Terapia indywidualna (50min)
                td 100zł
            tr
                td Konsultacja psychologiczna (50min)
                td 110zł
            tr
                td Sporządzenie diagnozy psychologicznej + opinia (2 godz.)
                td 250zł
            tr
                td Zajecia grupowe (1 godz.)
                td 90zł/os
            tr
                td Warsztaty i szkolenia
                td Cena do uzgodnienia