extends _layouts/base

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-yellow Oferta
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit harum placeat laudantium magni natus, nobis nihil blanditiis deserunt earum. Molestias maiores maxime dignissimos voluptatibus! Iusto quibusdam doloremque quas repudiandae delectus.
        p Maiores maxime dignissimos voluptatibus! maiores maxime dignissimos voluptatibusto quibusdam doloremque quas Iusto quibusdam doloremque quas repLorem ipsum dolor sit amet consectetur, adipisicing elit. Odit harum placeat laudantium magni natus, nobis nihil blanditiis deserunt earum. Molestias maiores maxime dignissimos voluptatibus! Iusto quibusdam doloremque quas repudiandae delectus.
       
        h3 Sesja terapuetyczna
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus fuga quae. Magnam possimus saepe suscipit voluptas ducimus, qui aut autem labore atque earum voluptatum quod id molestiae harum optio?
    
        h3 Konsultacja psychologiczna
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus fuga quae. Magnam possimus saepe suscipit voluptas ducimus, qui aut autem labore atque earum voluptatum quod id molestiae harum optio?
    
        h3 Spotkanie 
          em "W górę razem"
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt accusamus fuga quae. Magnam possimus saepe suscipit voluptas ducimus, qui aut autem labore atque earum voluptatum quod id molestiae harum optio?
          br
          | Więcej informacji w zakładce: 
          a(href="#" style="font-style: italic;")
            "W górę razem" 

  .divider
    .pure-g
        img.pure-u-1-4(src="/images/karo_28.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_32.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_29.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_33.jpg", alt="")

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green Cennik
        p Podstawowy cennik oferowanych przeze mnie usług:
        table.pure-table.pure-table-striped.card-table
            tr
                td Konsultacja psyhologiczna (1 godz.)
                td X zł
            tr
                td Sesja terapeutyczna (45min)
                td X zł
            tr
                td Spotkanie w ramach "W górę razem" (60min)
                td X zł