extends _layouts/base

block page_title
  | Psychoterapia dorosłych - 

block metatags
  meta(name='description', content='Zadzwoń i umów się na spotkanie. Terapia i sztuka. Terapia  indywidualna oraz grupowa dla dzieci i młodzieży z trudnościami emocjonalnymi, zachowaniami trudnymi oraz z objawami ze spektrum autyzmu.')

block content
  .cover-art.short-cover(style="background-image: url('/images/hands.jpg');")

  section.card.splash.splash-green.splash-super-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green Psychoterapia dorosłych
        h4 Psychoterapia osób dorosłych w zakresie szeroko rozumianego cierpienia psychicznego i emocjonalnego, tj.:
        ul
            li depresja
            li nerwice
            li zaburzenia lękowe
            li problemy somatyczne (m.in. chroniczne bóle głowy, kręgosłupa, problemy jelitowe i żołądkowe, drżenie rąk i nóg, omdlenia)
            li trudności w relacjach
            li żałoba
            li sytuacje kryzysowe
