extends _layouts/base

block page_title
  | Psychoterapia dzieci i młodzieży - 

block metatags
  meta(name='description', content='Zadzwoń i umów się na spotkanie. Terapia i sztuka. erapia  indywidualna oraz grupowa dla dzieci i młodzieży z trudnościami emocjonalnymi, zachowaniami trudnymi oraz z objawami ze spektrum autyzmu.')

block content
  .cover-art.short-cover

  section.card.splash.splash-yellow.splash-super-right
    .base-width.pure-g
      .card-text.pure-u-1.circle-yellow
        != marked(site.data.oferta_dzieci.body)