extends _layouts/base

block page_title
  | Nasi terapeuci - 

block metatags
  meta(name='description', content='Karolina Ligęza. Psycholog, terapeutka. Z zamiłowania muzyk i aktorka. Fascynuję się człowiekiem w każdym wieku – w szczególności dziećmi i młodzieżą. Interesuje mnie to, co mają do powiedzenia, ale jeszcze bardziej to, co kryje się za ich słowami i czynami.')

block content
  .cover-art.short-cover

  section.card.splash.splash-green.splash-right
    .base-width.pure-g
      each val, index in site.data.terapeuci.terapeuci
        .card-text.pure-u-1.pure-u-md-1-2(class="circle-" + (['green', 'yellow', 'red'][index % 3]))
          h2= val.imie
          != marked(val.opis)
        .card-photo.pure-u-1.pure-u-md-1-2
          .polaroid-stack.vertical-stack.small-stack
            .polaroid(style="background-image: url('" + val.photo + "'); transform: rotate(" + (index % 2 === 0 ? '5' : '-5') + "deg);")
