extends _layouts/base

block content
  .cover-art.short-cover

  section.card.splash.splash-green.splash-super-right
    .base-width.pure-g
      .card-text.pure-u-1
        h2.circle-green W górę razem
        p W ramach grupowej terapii zachowań trudnych, zwłaszcza dzieci z objawami ze spektrum autyzmu, prowadzę program ,,W Górę Razem”, którego plan terapeutyczny rozpisywany jest na 6 miesięcy i konstruowany na potrzeby konkretnej grupy.
        p Opiera się na Treningu Umiejętności Społecznych wg Goldsteina i wzbogacony został o elementy socjoterapii, muzykoterapii, bajkoterapii, psychodramy. Program ma za zadanie naukę konkretnych umiejętności społecznych, tj. właściwe powitanie, zasady prowadzenia rozmowy, słuchanie, inicjowanie kontaktu, odczytywanie sygnałów nadawanych przez rozmówce, nawiązywanie kontaktu wzrokowego, mówienie na temat, itp.
        p Poza regularnymi zajęciami dla dzieci, zakłada także comiesięczne spotkania z rodzicami, podczas których omawiany jest  prowadzony program, konsultowane bieżące trudności i wątpliwości
        ul
            li Grupa liczy 4-6 osób dobranych pod względem wiekowym oraz poziomem funkcjonowania. Dołączenie do grupy poprzedzone jest kilkoma spotkaniami indywidualnymi w celu oceny potrzeb i możliwości dziecka tak, by jak najlepiej dopasować je do grupy.
            li Zajęcia trwają 1-1,5 h w zależności od wieku uczestników grupy i odbywają się co tydzień.
            li Grupa prowadzona jest przez dwóch wykwalifikowanych terapeutów.


  .divider
    .pure-g
        img.pure-u-1-4(src="/images/karo_28.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_32.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_29.jpg", alt="")
        img.pure-u-1-4(src="/images/karo_33.jpg", alt="")